<!DOCTYPE html>
<html lang="zh" ng-app="app" ng-controller="CreateServerCtrl">

<head>
	<meta charset="UTF-8">
	<title>新建链接</title>
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="./scripts/angular.min.js"></script>
	<script type="text/javascript" src="./scripts/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="./scripts/ui-bootstrap-tpls-3.0.4.min.js"></script>
	<script type="text/javascript" src="./scripts/electangular.js"></script>
	<script type="text/javascript" src="./src/App.js"></script>
	<script type="text/javascript" src="./src/directive/CustomDirectives.js"></script>
	<script type="text/javascript" src="./src/CreateServerCtrl.js"></script>
</head>

<body>
	<br />
	<div class="container">
		<form>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="server.name" placeholder="服务器别名">
				<small class="form-text ">别名不能为空</small>
			</div>
			<div class="form-group">
				<div class="input-group">
					<input type="text" ng-model="server.host" class="form-control" placeholder="HOST">
					<input type="text" ng-model="server.port" class="form-control" placeholder="端口(默认6379)">
				</div>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="server.auth" placeholder="AUTH">
				<small class="form-text ">对应Redis中的Auth参数，没有可以不填</small>
			</div>
			<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="cluster" ng-model="server.isCluster">
				<label class="form-check-label" for="cluster">这是一个集群节点</label>
			</div>
			<div class="form-group" ng-show="server.isCluster">
				注意：如果配置了SSH，那么集群中的所有的MASTER节点都需要配置SSH才能正常使用，设置方法为：创建完毕之后，点击服务器，右下角会刷新出所有的节点，右键点击MASTER节点，选择配置SSH。
            </div>
            <div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="tls" ng-model="server.tls">
				<label class="form-check-label" for="tls">这是一个SSL链接</label>
			</div>
			<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="ssh" ng-model="showSSH">
				<label class="form-check-label" for="ssh">配置SSH</label>
			</div>
			<div ng-show="showSSH">
				<hr />
				<div class="form-group">
					<div class="input-group">
						<input type="text" ng-model="server.ssh.host" class="form-control" placeholder="HOST">
						<input type="text" ng-model="server.ssh.port" class="form-control" placeholder="端口(默认22)">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input id="sshusername" type="text" class="form-control" ng-model="server.ssh.username" placeholder="用户名">
						<input id="sshpassword" type="password" class="form-control" ng-model="server.ssh.password" placeholder="密码">
					</div>
				</div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="sshKey" ng-model="sshKey">
					<label class="form-check-label" for="sshKey">使用秘钥</label>
				</div>
				<div ng-show="sshKey">
					<div class="form-group">
						<div class="input-group">
							<input id="sshusername" type="text" class="form-control" ng-model="server.ssh.privateKey" placeholder="私钥">
							<input id="sshpassword" type="password" class="form-control" ng-model="server.ssh.passphrase" placeholder="密码">
						</div>
					</div>
				</div>
			</div>
			<button type="button" ng-click="test()" ng-disabled="isTesting" ng-class="testStyle" class="btn">{{testText}}</button>
			<button type="button" ng-click="save()" class="btn btn-primary">确认创建</button>
			<button type="button" ng-click="close()" class="btn btn-info">取消</button>
		</form>
	</div>
</body>

</html>
