* {
    outline: none;
}

.main-left {
    width: 300px;
    border-right: 1px solid $gray-700;
    height: 100%;
    overflow: hidden;
    @extend .pull-left;
}

.main-mid {
    @extend .pull-left;
    height: 100%;
    overflow: auto;
}

.main-right {
    width: calc(100% - 500px);
    border-left: 1px solid $gray-700;
    height: 100%;
    overflow: hidden;
    left: 0 !important;

    @extend .pull-right;
}

.title {
    font-weight: 800;
    line-height: 24px;
    background: linear-gradient($dark, $darker, $dark);
    @extend .bb;
    box-shadow: 0 3px 7px $darker;
    padding-left: 7px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: default;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border: none;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    margin: -2px;
}

::-webkit-scrollbar-thumb {
    background: $darken;
    min-height: 150px;
    min-width: 150px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background: darken($darken, 20%);
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: #555555
}

.main-foot {
    background-color: $primary;
    line-height: 30px;

    div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}