* {
    outline: none;
}

body {
    overflow: hidden;
}

.main-left {
    width: 300px;
    border-right: 1px solid $gray-700;
    height: 100%;
    overflow: hidden;
    @extend .pull-left;
}

.main-mid {
    @extend .pull-left;
    height: 100%;
    overflow: auto;
}

.main-right {
    width: calc(100% - 500px);
    border-left: 1px solid $gray-700;
    height: 100%;
    overflow: hidden;
    left: 0 !important;

    @extend .pull-right;
}

.title {
    font-weight: 800;
    line-height: 24px;
    background: linear-gradient($dark, $darker, $dark);
    @extend .bb;
    box-shadow: 0 3px 7px $darker;
    padding-left: 7px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: default;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border: none;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    margin: -2px;
}

::-webkit-scrollbar-thumb {
    background: $darken;
    // min-height: 150px;
    // min-width: 150px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background: darken($darken, 20%);
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: #555555
}

.main-foot {
    background-color: $primary;
    line-height: 30px;
    width: 100%;

    div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.avatar {
    text-align: center;
    margin-top: 10px;

    img {
        border-radius: 68px;
    }
}

.social {
    a {
        text-decoration-line: none;
        padding: 7px;
    }

    text-align: center;
    padding:10px;

    span {
        font-size: 14px;
    }

    svg {
        margin-top: -4px;
    }
}

.description {
    padding: 10px;
}

.console-input {
    background: transparent;
    border: none;
    width: 100%;
    color: $white;
    cursor: default;
    caret-color: $primary;
}

.bl-bold-success {
    border-left: 3px solid $success;
}

.bl-bold-primary {
    border-left: 3px solid $primary;
}

.bl-bold-warning {
    border-left: 3px solid $warning;
}

.bl-bold-danger {
    border-left: 3px solid $danger;
}

.console-panel {
    height: 100%;
    overflow: auto;
    display: block;

    .console-panel-info {
        width: 150px;
        text-align: right;
        padding-right: 10px;
    }

    .console-panel-result {
        padding-left: 10px;
        width: calc(100% - 150px);
    }

    pre {
        font-size: 100%;
    }
}

.my-descriptions {
    max-width: 600px;
    min-width: 300px;
    width: 40%;
    margin: 0 auto;
}