@import "functions";
@import "variables";

.b-toast {
    display: block;
    position: relative;
    max-width: 350px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-clip: padding-box;
    z-index: 1;
    border-radius: 0.25rem;
}

.b-toast .toast {
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.75rem rgba(255, 255, 255, 0.85);
}

.b-toast:not(:last-child) {
    margin-bottom: 0.75rem;
}

.b-toast.b-toast-solid .toast {
    background-color: white;
}

.b-toast .toast {
    opacity: 1;
}

.b-toast .toast.fade:not(.show) {
    opacity: 0;
}

.b-toast .toast .toast-body {
    display: block;
}

.b-toast-primary .toast {
    background-color: rgba(230, 242, 255, 0.85);
    border-color: rgba(184, 218, 255, 0.85);
    color: #004085;
}

.b-toast-primary .toast .toast-header {
    color: #004085;
    background-color: rgba(204, 229, 255, 0.85);
    border-bottom-color: rgba(184, 218, 255, 0.85);
}

.b-toast-primary.b-toast-solid .toast {
    background-color: #e6f2ff;
}

.b-toast-secondary .toast {
    background-color: rgba(239, 240, 241, 0.85);
    border-color: rgba(214, 216, 219, 0.85);
    color: #383d41;
}

.b-toast-secondary .toast .toast-header {
    color: #383d41;
    background-color: rgba(226, 227, 229, 0.85);
    border-bottom-color: rgba(214, 216, 219, 0.85);
}

.b-toast-secondary.b-toast-solid .toast {
    background-color: #eff0f1;
}

.b-toast-success .toast {
    background-color: rgba(230, 245, 233, 0.85);
    border-color: rgba(195, 230, 203, 0.85);
    color: #155724;
}

.b-toast-success .toast .toast-header {
    color: #155724;
    background-color: rgba(212, 237, 218, 0.85);
    border-bottom-color: rgba(195, 230, 203, 0.85);
}

.b-toast-success.b-toast-solid .toast {
    background-color: #e6f5e9;
}

.b-toast-info .toast {
    background-color: rgba(229, 244, 247, 0.85);
    border-color: rgba(190, 229, 235, 0.85);
    color: #0c5460;
}

.b-toast-info .toast .toast-header {
    color: #0c5460;
    background-color: rgba(209, 236, 241, 0.85);
    border-bottom-color: rgba(190, 229, 235, 0.85);
}

.b-toast-info.b-toast-solid .toast {
    background-color: #e5f4f7;
}

.b-toast-warning .toast {
    background-color: $warning;
    border-color: rgba(255, 238, 186, 0.85);
    color: $white;
}

.b-toast-warning .toast .toast-header {
    color: $white;
    background-color: darken($warning, 10%);
    border-bottom-color: rgba(255, 238, 186, 0.85);
}

.b-toast-warning.b-toast-solid .toast {
    background-color: #fff9e7;
}

.b-toast-danger .toast {
    background-color: $danger;
    border-color: rgba(245, 198, 203, 0.85);
    color: $white;
}

.b-toast-danger .toast .toast-header {
    color: $white;
    background-color: darken($danger, 10%);
    border-bottom-color: rgba(245, 198, 203, 0.85);
}

.b-toast-danger.b-toast-solid .toast {
    background-color: #fcedee;
}

.b-toast-light .toast {
    background-color: rgba(255, 255, 255, 0.85);
    border-color: rgba(253, 253, 254, 0.85);
    color: #818182;
}

.b-toast-light .toast .toast-header {
    color: #818182;
    background-color: rgba(254, 254, 254, 0.85);
    border-bottom-color: rgba(253, 253, 254, 0.85);
}

.b-toast-light.b-toast-solid .toast {
    background-color: white;
}

.b-toast-dark .toast {
    background-color: rgba(227, 229, 229, 0.85);
    border-color: rgba(198, 200, 202, 0.85);
    color: #1b1e21;
}

.b-toast-dark .toast .toast-header {
    color: #1b1e21;
    background-color: rgba(214, 216, 217, 0.85);
    border-bottom-color: rgba(198, 200, 202, 0.85);
}

.b-toast-dark.b-toast-solid .toast {
    background-color: #e3e5e5;
}

.b-toaster {
    z-index: 1100;
}

.b-toaster .b-toaster-slot {
    position: relative;
    display: block;
}

.b-toaster .b-toaster-slot:empty {
    display: none !important;
}

.b-toaster.b-toaster-top-right,
.b-toaster.b-toaster-top-left,
.b-toaster.b-toaster-top-center,
.b-toaster.b-toaster-top-full,
.b-toaster.b-toaster-bottom-right,
.b-toaster.b-toaster-bottom-left,
.b-toaster.b-toaster-bottom-center,
.b-toaster.b-toaster-bottom-full {
    position: fixed;
    left: 0.5rem;
    right: 0.5rem;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: visible;
}

.b-toaster.b-toaster-top-right .b-toaster-slot,
.b-toaster.b-toaster-top-left .b-toaster-slot,
.b-toaster.b-toaster-top-center .b-toaster-slot,
.b-toaster.b-toaster-top-full .b-toaster-slot,
.b-toaster.b-toaster-bottom-right .b-toaster-slot,
.b-toaster.b-toaster-bottom-left .b-toaster-slot,
.b-toaster.b-toaster-bottom-center .b-toaster-slot,
.b-toaster.b-toaster-bottom-full .b-toaster-slot {
    position: absolute;
    max-width: 350px;
    width: 100%;
    /* IE11 fix */
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

.b-toaster.b-toaster-top-full .b-toaster-slot,
.b-toaster.b-toaster-bottom-full .b-toaster-slot {
    width: 100%;
    max-width: 100%;
}

.b-toaster.b-toaster-top-full .b-toaster-slot .b-toast,
.b-toaster.b-toaster-top-full .b-toaster-slot .toast,
.b-toaster.b-toaster-bottom-full .b-toaster-slot .b-toast,
.b-toaster.b-toaster-bottom-full .b-toaster-slot .toast {
    width: 100%;
    max-width: 100%;
}

.b-toaster.b-toaster-top-right,
.b-toaster.b-toaster-top-left,
.b-toaster.b-toaster-top-center,
.b-toaster.b-toaster-top-full {
    top: 0;
}

.b-toaster.b-toaster-top-right .b-toaster-slot,
.b-toaster.b-toaster-top-left .b-toaster-slot,
.b-toaster.b-toaster-top-center .b-toaster-slot,
.b-toaster.b-toaster-top-full .b-toaster-slot {
    top: 0.5rem;
}

.b-toaster.b-toaster-bottom-right,
.b-toaster.b-toaster-bottom-left,
.b-toaster.b-toaster-bottom-center,
.b-toaster.b-toaster-bottom-full {
    bottom: 0;
}

.b-toaster.b-toaster-bottom-right .b-toaster-slot,
.b-toaster.b-toaster-bottom-left .b-toaster-slot,
.b-toaster.b-toaster-bottom-center .b-toaster-slot,
.b-toaster.b-toaster-bottom-full .b-toaster-slot {
    bottom: 0.5rem;
}

.b-toaster.b-toaster-top-right .b-toaster-slot,
.b-toaster.b-toaster-bottom-right .b-toaster-slot,
.b-toaster.b-toaster-top-center .b-toaster-slot,
.b-toaster.b-toaster-bottom-center .b-toaster-slot {
    margin-left: auto;
}

.b-toaster.b-toaster-top-left .b-toaster-slot,
.b-toaster.b-toaster-bottom-left .b-toaster-slot,
.b-toaster.b-toaster-top-center .b-toaster-slot,
.b-toaster.b-toaster-bottom-center .b-toaster-slot {
    margin-right: auto;
}

.b-toaster.b-toaster-top-right .b-toast.b-toaster-enter-active,
.b-toaster.b-toaster-top-right .b-toast.b-toaster-leave-active,
.b-toaster.b-toaster-top-right .b-toast.b-toaster-move,
.b-toaster.b-toaster-top-left .b-toast.b-toaster-enter-active,
.b-toaster.b-toaster-top-left .b-toast.b-toaster-leave-active,
.b-toaster.b-toaster-top-left .b-toast.b-toaster-move,
.b-toaster.b-toaster-bottom-right .b-toast.b-toaster-enter-active,
.b-toaster.b-toaster-bottom-right .b-toast.b-toaster-leave-active,
.b-toaster.b-toaster-bottom-right .b-toast.b-toaster-move,
.b-toaster.b-toaster-bottom-left .b-toast.b-toaster-enter-active,
.b-toaster.b-toaster-bottom-left .b-toast.b-toaster-leave-active,
.b-toaster.b-toaster-bottom-left .b-toast.b-toaster-move {
    transition: -webkit-transform 0.175s;
    transition: transform 0.175s;
    transition: transform 0.175s, -webkit-transform 0.175s;
}

.b-toaster.b-toaster-top-right .b-toast.b-toaster-enter-to .toast.fade,
.b-toaster.b-toaster-top-right .b-toast.b-toaster-enter-active .toast.fade,
.b-toaster.b-toaster-top-left .b-toast.b-toaster-enter-to .toast.fade,
.b-toaster.b-toaster-top-left .b-toast.b-toaster-enter-active .toast.fade,
.b-toaster.b-toaster-bottom-right .b-toast.b-toaster-enter-to .toast.fade,
.b-toaster.b-toaster-bottom-right .b-toast.b-toaster-enter-active .toast.fade,
.b-toaster.b-toaster-bottom-left .b-toast.b-toaster-enter-to .toast.fade,
.b-toaster.b-toaster-bottom-left .b-toast.b-toaster-enter-active .toast.fade {
    transition-delay: 0.175s;
}

.b-toaster.b-toaster-top-right .b-toast.b-toaster-leave-active,
.b-toaster.b-toaster-top-left .b-toast.b-toaster-leave-active,
.b-toaster.b-toaster-bottom-right .b-toast.b-toaster-leave-active,
.b-toaster.b-toaster-bottom-left .b-toast.b-toaster-leave-active {
    position: absolute;
    transition-delay: 0.175s;
}

.b-toaster.b-toaster-top-right .b-toast.b-toaster-leave-active .toast.fade,
.b-toaster.b-toaster-top-left .b-toast.b-toaster-leave-active .toast.fade,
.b-toaster.b-toaster-bottom-right .b-toast.b-toaster-leave-active .toast.fade,
.b-toaster.b-toaster-bottom-left .b-toast.b-toaster-leave-active .toast.fade {
    transition-delay: 0s;
}

.form-check-label {
    padding-top: 3px;
}

.custom-file-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}