.modal-content {
    box-shadow: 0 0 25px $darken;
    color: $light;
}

.modal-header {
    @extend .title;
    padding:3px;
    h5 {
        font-size: 12px;
        line-height: 24px;
    }

    .close {
        color: $danger;
    }
}

.modal-backdrop {
	background-color:rgba(255,255,255,0.5);
}