html,
body {
    height: 100%;
}

#app {
    height: 100%;
}


.no-padding {
    padding: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-border {
    border: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.bb {
    border-bottom: 1px solid $gray-700;
}

.bl {
    border-left: 1px solid $gray-700;
}

.br {
    border-right: 1px solid $gray-700;
}

.bt {
    border-top: 1px solid $gray-700;
}

.ba {
    border:1px solid $gray-700;
}

.full {
    width: 100%;
    height: 100%;
    overflow: hidden;
}