.table {
    table-layout: fixed;

    td,
    th {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;


    }

    .active {
		background-color: $primary;
    }

    .sub-cell {
        padding: 0;

        div {
            padding: 4px;
            border-bottom: 1px dashed $gray-700;

            &:last-child {
                border-bottom: none;
            }
        }

        div.selected {
            background-color: $primary;
            color: white;
        }

    }
}

table.no-border {
    margin-bottom: 0;
    border: none !important;

    thead {
        tr:first-child {
            th {
                border-top: none !important;

                &:first-child {
                    border-left: none !important;
                }

                &:last-child {
                    border-right: none !important;
                }
            }
        }
    }

    tr {
        td {
            &:first-child {
                border-left: none !important;
            }

            &:last-child {
                border-right: none !important;
            }
        }
    }
}

.thead-float {
    th {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: $gray-700;
        box-shadow: 0 4px 2px -2px #000000;
    }
}